<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="bd" connectionString="Persist Security Info=False;User ID=Defuser;Password=Pa$$w0rd;Initial Catalog=test;Server=G-RZHD-PL1-SQL1" />
  </connectionStrings>
</configuration>